import React from 'react';
import PropTypes from 'prop-types';
import cn from 'classnames';

import './{{pascalCase name}}.less';

const propTypes = {
  className: PropTypes.string,
};

const defaultProps = {};

class {{pascalCase name}} extends React.Component {
  constructor(props) {
    super(props);

    this.state = {};
  }

  render() {
    const { className } = this.props;

    return (
      <div className={cn(className, '{{dashCase cssClass}}')}>
        {{pascalCase name}}
      </div>
    );
  }
}

{{pascalCase name}}.propTypes = propTypes;
{{pascalCase name}}.defaultProps = defaultProps;

export default {{pascalCase name}};
