import React from 'react';
import PropTypes from 'prop-types';
import cn from 'classnames';

import './{{pascalCase name}}.less';

const propTypes = {
  className: PropTypes.string,
};

const defaultProps = {};

function {{pascalCase name}}({ className }) {
  return (
    <div className={cn('{{dashCase cssClass}}', className)}>
      {{pascalCase name}}
    </div>
  );
}

{{pascalCase name}}.propTypes = propTypes;
{{pascalCase name}}.defaultProps = defaultProps;

export default {{pascalCase name}};
