import React from 'react';
import { storiesOf } from '@storybook/react';

import {{pascalCase name}} from './{{pascalCase name}}';

storiesOf('Components|{{pascalCase dest}}/{{pascalCase name}}', module).add('default', () => (
  <div>
    {{pascalCase name}}
  </div>
));
