import React from 'react';
import PropTypes from 'prop-types';

import getDisplayName from 'hocs/getDisplayName';

import './{{camelCase name}}.less';

const {{camelCase name}} = (Component) => {
  const propTypes = {};

  const defaultProps = {};

  class {{pascalCase name}} extends React.Component {
    constructor(props) {
      super(props);

      this.state = {};
    }

    render() {
      return (
        <div>
          {{pascalCase name}}
        </div>
      );
    }
  }

  {{pascalCase name}}.displayName = `{{camelCase name}}(${getDisplayName(Component);})`;
  {{pascalCase name}}.propTypes = propTypes;
  {{pascalCase name}}.defaultProps = defaultProps;

  return {{pascalCase name}};
};

export default {{camelCase name}};
